<form class="form-inline md-form form-sm">
  <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" #critere
    mdbInput>
    <button type="button" class="btn btn-info" style="margin-left: 5px;" (click)="search(critere.value);">Rechercher</button>
</form>
<br/><br/>
<div class="table-responsive" id="entities" *ngIf="accords && accords.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.titre">Titre</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.dateSignature">Date Signature</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.dateExperation">Date Experation</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.typeAccord">Type Accord</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.societe">Societe</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accord of accords ">
                    <td><a [routerLink]="['/accord', accord.id, 'view']">{{ accord.id }}</a></td>
                    <td>{{ accord.titre }}</td>
                    <td>{{ accord.description }}</td>
                    <td>{{ accord.dateSignature | date:'mediumDate' }}</td>
                    <td>{{ accord.dateExperation | date:'mediumDate' }}</td>
                    <td>{{ accord.typeAccord }}</td>
                    <td>{{ accord.societe }}</td>
                    <td>{{ accord.status }}</td>
                    <td>
                        {{ accord.user?.login }}
                    </td>
                    <td class="text-right">
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>