<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partenaire">
            <h2><span jhiTranslate="gestionDesAccordsApp.partenaire.detail.title">Partenaire</span> {{ partenaire.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionDesAccordsApp.partenaire.societe">Societe</span></dt>
                <dd>
                    <span>{{ partenaire.societe }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.partenaire.domaine">Domaine</span></dt>
                <dd>
                    <span>{{ partenaire.domaine }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.partenaire.email">Email</span></dt>
                <dd>
                    <span>{{ partenaire.email }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.partenaire.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ partenaire.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.partenaire.pays">Pays</span></dt>
                <dd>
                    <span>{{ partenaire.pays }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.partenaire.fax">Fax</span></dt>
                <dd>
                    <span>{{ partenaire.fax }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.partenaire.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ partenaire.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.partenaire.accord">Accord</span></dt>
                <dd>
                    <span *ngFor="let accord of partenaire.accords; let last = last">
                        <a [routerLink]="['/accord', accord?.id, 'view']">{{ accord.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/partenaire', partenaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
