<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accord">
            <h2><span jhiTranslate="gestionDesAccordsApp.accord.detail.title">Accord</span> {{ accord.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.titre">Titre</span></dt>
                <dd>
                    <span>{{ accord.titre }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.description">Description</span></dt>
                <dd>
                    <span>{{ accord.description }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.dateSignature">Date Signature</span></dt>
                <dd>
                    <span>{{ accord.dateSignature }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.dateExperation">Date Experation</span></dt>
                <dd>
                    <span>{{ accord.dateExperation }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.document">Document</span></dt>
                <dd>
                    <div *ngIf="accord.document">
                        <a (click)="openFile(accord.documentContentType, accord.document)" jhiTranslate="entity.action.open">open</a>
                        {{ accord.documentContentType }}, {{ byteSize(accord.document) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.typeAccord">Type Accord</span></dt>
                <dd>
                    <span>{{ accord.typeAccord }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.societe">Societe</span></dt>
                <dd>
                    <span>{{ accord.societe }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.status">Status</span></dt>
                <dd>
                    <span>{{ accord.status }}</span>
                </dd>
                <dt><span jhiTranslate="gestionDesAccordsApp.accord.user">User</span></dt>
                <dd>
                    {{ accord.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accord', accord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
