<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-accord-heading" jhiTranslate="gestionDesAccordsApp.accord.home.createOrEditLabel">Create or edit a Accord</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.titre" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre"
                           formControlName="titre"/>
                    <div *ngIf="editForm.get('titre')!.invalid && (editForm.get('titre')!.dirty || editForm.get('titre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.dateSignature" for="field_dateSignature">Date Signature</label>
                    <div class="input-group">
                        <input id="field_dateSignature" type="text" class="form-control" name="dateSignature" ngbDatepicker #dateSignatureDp="ngbDatepicker" formControlName="dateSignature"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateSignatureDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateSignature')!.invalid && (editForm.get('dateSignature')!.dirty || editForm.get('dateSignature')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateSignature')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.dateExperation" for="field_dateExperation">Date Experation</label>
                    <div class="input-group">
                        <input id="field_dateExperation" type="text" class="form-control" name="dateExperation" ngbDatepicker #dateExperationDp="ngbDatepicker" formControlName="dateExperation"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateExperationDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateExperation')!.invalid && (editForm.get('dateExperation')!.dirty || editForm.get('dateExperation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateExperation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.document" for="field_document">Document</label>
                    <div>
                        <div *ngIf="editForm.get('document')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('documentContentType')!.value, editForm.get('document')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('documentContentType')!.value }}, {{ byteSize(editForm.get('document')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({document: null});editForm.patchValue({documentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_document" (change)="setFileData($event, 'document', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="document" id="field_document"
                           formControlName="document"/>
                    <input type="hidden" class="form-control" name="documentContentType" id="field_documentContentType"
                           formControlName="documentContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.typeAccord" for="field_typeAccord">Type Accord</label>
                    <input type="text" class="form-control" name="typeAccord" id="field_typeAccord"
                           formControlName="typeAccord"/>
                    <div *ngIf="editForm.get('typeAccord')!.invalid && (editForm.get('typeAccord')!.dirty || editForm.get('typeAccord')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeAccord')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.societe" for="field_societe">Societe</label>
                    <input type="text" class="form-control" name="societe" id="field_societe"
                           formControlName="societe"/>
                    <div *ngIf="editForm.get('societe')!.invalid && (editForm.get('societe')!.dirty || editForm.get('societe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('societe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionDesAccordsApp.accord.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
