<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionDesAccordsApp.accord.home.title">Accords</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accord" [routerLink]="['/accord/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionDesAccordsApp.accord.home.createLabel">
            Create a new Accord
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="accords?.length === 0">
        <span jhiTranslate="gestionDesAccordsApp.accord.home.notFound">No accords found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="accords && accords.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.titre">Titre</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.dateSignature">Date Signature</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.dateExperation">Date Experation</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.document">Document</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.typeAccord">Type Accord</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.societe">Societe</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="gestionDesAccordsApp.accord.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accord of accords ;trackBy: trackId">
                    <td><a [routerLink]="['/accord', accord.id, 'view']">{{ accord.id }}</a></td>
                    <td>{{ accord.titre }}</td>
                    <td>{{ accord.description }}</td>
                    <td>{{ accord.dateSignature | date:'mediumDate' }}</td>
                    <td>{{ accord.dateExperation | date:'mediumDate' }}</td>
                    <td>
                        <a *ngIf="accord.document" (click)="openFile(accord.documentContentType, accord.document)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="accord.document">{{ accord.documentContentType }}, {{ byteSize(accord.document) }}</span>
                    </td>
                    <td>{{ accord.typeAccord }}</td>
                    <td>{{ accord.societe }}</td>
                    <td>{{ accord.status }}</td>
                    <td>
                        {{ accord.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/accord', accord.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/accord', accord.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(accord)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
